<h1>Query Original Movie</h1>
<h4>
<%= "Search " + @name + " in " + @source%>
</h4>
<br />
<p>
<% if (@source == 'all') %>
	<%	if (!@imdb.nil?) %>
	<h5>
	<%		"In IMDB" %>
	<%		@imdb.each do |item| %>
	<%=		item.inspect %>
	<% end %>
	<% end %>
	</h5>
	<%	if (!@tmdb.nil?) %>
	<h5>
	<%		"In TMDB" %>
	<%		@tmdb.each do |item| %>
	<%=		item.inspect %>
	<% end %>
	<% end %>
	</h5>
	<%	if (!@wiki.nil?) %>
	<h5>
	<%		"In WIKI" %>
	<%		@wiki.each do |item| %>
	<%=		item.inspect %>
	<% end %>
	<% end %>
	</h5>
	<% end %>
	<% if (!@movie.nil?) %>
<% @movie.each do |item| %>
<%= item.inspect %>
<% end %>
<% end %>
</p>

